@width: 10px;
@height: @width + 10px;

#MainContainer {
  display: grid;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "."
    "footer";
  flex-grow: 1; 
}

#Header {
  grid-area: header;
  z-index: 1;
}

#Footer {
  grid-area: footer;
}